body {
  color: #313391 !important
}
.pageBannerContainer{

  background-image: url("");
    filter: blur(2px);
}

#bodyContainer{
  height: 100%;
  width: 100%;
}

#bannerText{
  font-size: 75px;
  color:white;
  position: absolute;
  top: 20%;
  left: 60%;

}
#formContainer {
  margin: auto;
  height: 90%;
  width: 50%; 
}
#formHeader{
  font-size: 200%;
  top: 25%;
  font-weight: 300;
}
#formDesc{
  font-size: 100%;
  font-weight: 300;
}
#contactForm{
  font-size: 120%;
  font-weight: 300;
  position: absolute;
  top: 32%;
  width: 50%;
  color: 313391;

}
#subButton{
  text-align: center;
  padding-top: 5%;
}
#messageForm{
  height: 100px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;

}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 1s;

}
button[type=submit] {
  width: 150px;
  background-color: rgb(225, 56, 255);;
  box-shadow: 0px 8px 15px rgb(140, 40, 158);
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 40px;
  transition: 0.3s;
  font-weight: normal;
}
button[type=submit]:hover {
  background-color: white;
  box-shadow: 0px 15px 20px rgb(0,0,0,0.1);
  color: rgb(225, 56, 255);
  transform: translateY(-7px);
}