.navBarNew a{
  color: white;
}
.navbar-toggle .icon-bar {
  background-color: white;
}

.bannerContainer{

  background-image: url("banner.jpg");
  background-position: center;
  background-size: cover;
  height: 90%;
  width: 100%;
  position: relative;

}
#bannerLeft{
  z-index: 10;
  float: left;
  width: 50%;
  height: 90%;

}
#bannerLeftText{
  text-align: center;
  color:white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 70px;
  padding-top: 20%;
  margin-left: 30%;
}


#demoButton{
  width: 150px;
  height: 60px;
  color: rgb(225, 56, 255);
  background-color: white;
  border: none;
  padding-top: 19px;
  border-radius: 30px;
  transition: 0.3s;
  margin-top: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

#demoButton:hover{
  background-color: rgb(225, 56, 255);
  box-shadow: 0px 15px 20px rgb(140, 40, 158);
  color: #fff;
  transform: translateY(-7px);
}

#bannerRight{
  float: right;
  width: 50%;
  height: 90%;
}
#bannerScreenShot{
  display: block;
  width: 310px;
  margin-left: 20%;
  margin-top: 13%;
  transition: 0.5s;

}
#bannerScreenShot:hover{
  transform: translateY(-10px);
}

.homeBody1{
  height: 1000px;
  width: 100%;
  background-color: white;
  color:black;
}
.homeBody1Header{
  text-align: center;
  font-size: 50px;
  padding-top:30px;
  color:#313391;
  font-weight: 300;
}
#homeBody1SSGrid{
  transition: 0.3s;
  margin-top: 80px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 550px;
}
.ssBox{
  margin: auto;
}
.ssPic{
  width: 300px;
}
.ssDesc{
  text-align: center;
  font-weight: 300;
  font-size: 15px;
}
#pickMovie{
  margin-top: 80px;
}

.homeBody2{
  height: 550px;
  width: 100%;
  background-color: #313391
}

.homeBody2Header{
  font-size: 50px;
  padding-top: 130px;
  margin-left: 100px;
  color:#97CEFF;
  font-weight: 300;
  text-align: inherit;
}

#homeBody2Half1{
  height: 100%;
  width: 35%;
  float: left;

}

#homeBody2Half2{
  height: 100%;
  width: 65%;
  float: right;
}
#demoDesc{
  font-size: 15px;
  color:white;
  margin-left: 100px;
}


iframe {
  z-index: 1;
  margin-top: 0px;
  width: 82%;
  height: 490px;
  display: block;
  margin: auto;
  margin-top: 2% !important;
}



.homeBody3{
  height: 650px;
  width: 100%;
  background-color: white;
  color:black;
}

.halfLeft{
  height: 80%;
  width:  50%;
  float: left;
}
#aboutUsText{
  color: black;
  font-size: 19px;
  margin: 40px;
  margin-top: 180px;
  font-weight: 300;
  transition: 0.3s;
}
.halfRight{
  height: 80%;
  width:  50%;
  float: right;
}
#ourTeamTitle{
  font-size: 30px;
  color: #313391;
  text-align: center;
  font-weight: 300;

}
#teamPic{
  display: block;
  margin: auto;
  margin-top: 80px;
  border: none;
  border-radius: 50%;
  width: 300px;
  transition: 0.3s;
}
#teamPic:hover{
  opacity: 60%;
}
#teamPicDesc{
  margin-top: 20px;
  text-align: center;
  font-weight: 300;
}


/*
#pictureGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  
}
.pictureBox{
  margin: auto;
}
.teamPic{
  border: none;
  border-radius: 50%;
  width: 150px;
  transition: 0.3s;
}
.teamPic:hover{
  opacity: 60%;
}
.teamDesc{
  text-align: center;
  font-weight: 300;
}*/
#endPageButtonContainer{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#endPageButton{
  width: 200px;
  height: 60px;
  color: white;
  background-color: rgb(225, 56, 255);
  border: none;
  padding-top: 21px;
  border-radius: 30px;
  transition: 0.3s;
  margin-top: 10px;
  box-shadow: 0px 8px 15px rgb(140, 40, 158);
  font-weight: bold;
}

#endPageButton:hover{
  background-color: white;
  box-shadow: 0px 15px 20px rgb(0,0,0,0.1);
  color: rgb(225, 56, 255);
  transform: translateY(-7px);
 
}
